*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #ffffff;
  background: #000;
}

.container {
  max-width: 1500px;
  width: 100%;
  margin: auto;
}

.container--wide {
  max-width: 800px;
  width: 100%;
  margin: auto;
}

a {
  text-decoration: none;
  color: #ffffff;
  transition: all .3s;
}

a:hover {
  color: #a3a3a3;
}

.header {
  background: #000;
  padding: 20px;
}

.header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-menu-regist {
  border-bottom: 2px solid #ffffff;
}

.header-login-button__enter {
  margin-right: 30px;
  padding: 10px 25px;
  border-radius: 15px;
  border: none;
  background: #ffffff;
  color: #000;
}

.header-login-button__regist {
  padding: 10px 25px;
  border-radius: 15px;
  border: none;
  background: #8d1616;
  color: #ffffff;
}

.header-login-button__cab {
  margin-left: 20px;
}

.header-content {
  display: flex;
  align-items: center;
}

.header-content-logo {
  width: 100px;
  height: 60px;
}

.header-content-text {
  font-weight: bold;
  margin-top: 10px;
  font-size: 24px;
  margin-left: 10px;
  filter: drop-shadow(0 0 0.75rem white);
}

.hero {
  padding: 100px 0 200px 0;
  background: url("../img/hero.jpg") no-repeat center/cover;
  position: relative;
}

.hero::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

.hero-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
  margin-top: 100px;
}

.hero-content__title {
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
}

.hero-content__text {
  text-align: center;
  max-width: 500px;
  font-size: 25px;
  color: #c2c2c2;
}

.hero-content__button {
  margin-top: 20px;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 17px;
  background: #8d1616;
  color: #ffffff;
  cursor: pointer;
}

.card {
  padding: 50px;
  background: #000;
}

.card-title {
  text-align: center;
  font-size: 30px;
}

.card-all {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.card-number {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-total {
  margin-top: 40px;
}

.card-total__text {
  margin-top: 40px;
  margin-left: 15px;
  font-size: 18px;
}

.card-content {
  margin-top: 80px;
}

.card-content-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  max-width: 370px;
  max-height: 500px;
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
}

.card-content-item__img {
  width: 280px;
  height: 270px;
  border-radius: 10px;
  margin-top: 20px;
}

.card-content-item__name {
  margin-right: 10px;
  margin-top: 20px;
  color: #000;
  font-weight: bold;
  font-size: 20px;
}

.card-content-item__text {
  margin-top: 20px;
  color: #000;
  font-size: 18px;
}

.card-har {
  display: flex;
  align-items: center;
}

.footer {
  padding: 70px 0 50px 0;
  background: #000;
  border-top: 1px solid #ffffff;
}

.footer-content {
  display: flex;
  align-items: center;
}

.footer-content-logo {
  width: 100px;
  height: 60px;
}

.footer-content-text {
  font-weight: bold;
  margin-top: 10px;
  font-size: 24px;
  margin-left: 10px;
  filter: drop-shadow(0 0 0.75rem white);
}

.footer-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-nav {
  display: flex;
  flex-direction: column;
}

.footer-nav__link {
  margin-bottom: 13px;
}

.footer-nav__link:last-of-type {
  margin: 0;
}

.footer-nav__link--number {
  margin-left: -30px;
}

.form {
  background: #000;
  padding: 100px 0;
}

.form-title {
  text-align: center;
  margin-bottom: 30px;
}

.container--wide {
  max-width: 450px;
}

.input {
  border-radius: 4px;
  border: none;
}

.input-button {
  margin-top: 25px;
  padding: 10px;
  border-radius: 15px;
  border: none;
  background: #db5454;
  color: #ffffff;
  cursor: pointer;
}

.input-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #a3a3a3;
  background: #8d1616;
  padding: 30px 10px 30px 10px;
  border-radius: 4px;
}

.input-group {
  display: flex;
  align-items: center;
}

.input-group-name {
  border-radius: 4px;
  border: none;
  margin-right: 29px;
  height: 30px;
}

.input-group-surname {
  height: 30px;
  border-radius: 4px;
  border: none;
}

.input-all {
  display: flex;
  flex-direction: column;
  max-width: 374px;
  width: 100%;
}

.input-all-midname {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 30px;
  border-radius: 4px;
  border: none;
}

.input-all-login {
  margin-bottom: 20px;
  height: 30px;
  border-radius: 4px;
  border: none;
}

.input-all-mail {
  margin-bottom: 20px;
  height: 30px;
  border-radius: 4px;
  border: none;
}

.input-all-password {
  margin-bottom: 20px;
  height: 30px;
  border-radius: 4px;
  border: none;
}

.input-all-replay {
  height: 30px;
  border-radius: 4px;
  border: none;
}

.input-all-checkbox {
  margin-right: 30px;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 18px;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
}

.form {
  padding: 165px;
}

.input-title {
  text-align: center;
}

.input-groups {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #8d1616;
  padding-bottom: 30px;
  margin-top: 50px;
  border-radius: 10px;
}

.input-groups-enter {
  margin-top: 60px;
  margin-bottom: 20px;
  width: 300px;
  height: 40px;
  border-radius: 8px;
  border: none;
}

.input-groups-password {
  width: 300px;
  height: 40px;
  border-radius: 8px;
  border: none;
}

.cab {
  padding: 100px;
}

.cab-info {
  display: flex;
  align-items: center;
}

.cab-info__img {
  width: 300px;
  height: 350px;
  border-radius: 4px;
}

.cab-info__title {
  margin-right: 13px;
}

.cab-name {
  display: flex;
  align-items: center;
  margin-left: 30px;
  margin-bottom: 45px;
}

.cab-all {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-cab {
  margin-left: 30px;
  padding: 9px;
  border: none;
  border-radius: 9px;
  background: #8d1616;
  color: #ffffff;
  cursor: pointer;
}

.application {
  margin-top: 80px;
}

.application-all {
  display: flex;
  align-items: center;
}

.application-title {
  margin-left: 108px;
  margin-top: 50px;
}

.application-card {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 108px;
  background: #ffffff;
  max-width: 340px;
  color: #000;
  padding: 20px;
  border-radius: 8px;
}

.application-card__img {
  width: 300px;
  height: 330px;
  border-radius: 8px;
}

.application-name {
  display: flex;
  margin-top: 50px;
}

.application-name__nickname {
  margin-top: 3px;
  margin-left: 10px;
  margin-bottom: 1px;
}
/*# sourceMappingURL=style.css.map */